/* 

---01 TYPOGRAPHY SYSTEM

- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

.animate-link {
  animation: updown 60s ease-in infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-1800%);
  }

  50% {
    transform: translateY(12000%);
  }

  100% {
    transform: translateY(-1800%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.margin-bottom-bg {
  margin-bottom: 20rem;
}

.margin-bottom-sm {
  margin-bottom: 2rem;
}

body {
  font-family: "Source Sans Pro", sans-serif;

  /* background: hsla(213, 77%, 14%, 1);

  background: linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 ); */

  background-color: #000;
}

/* body:active {
  background-color: #fff;
  color: #000;
} */

.header {
  max-width: 100%;
}

.nav-links {
  font-size: 2.4rem;
  padding: 4rem 8rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 10rem;
  color: #777;
}

.nav-link {
  color: #777;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.nav-link:hover {
  transform: scale(1.1);
  /* border: 1px solid wheat; */
  color: bisque;
  /* background-image: linear-gradient(to top, #000 0%, #5a0d0d 100%); */
  /* box-shadow: 0px 2px 10px 10px; */
}

.section-hero {
  margin-bottom: 12.6rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 7rem;
  margin-top: 10rem;
}

.hero-img {
  width: 15rem;
  height: 15rem;
  border: 1px solid wheat;
  border-radius: 50%;
  /* filter: hue-rotate(450deg); */
}

.hero-text-box {
  margin: auto;
  width: 70rem;
  text-align: center;
  margin-bottom: 6.4rem;
  /* border: 1px solid #f5deb254; */
}

.hero-heading,
.portfolio-link:link {
  font-size: 16.4rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  line-height: 1;
  transition: all 0.9s;
}

.hero-heading:hover {
  transform: scale(1.1);

  border: 1px solid wheat;
  color: bisque;
  background-image: linear-gradient(to top, #000 0%, #000 100%);
  box-shadow: 0px 2px 10px 10px;
}

.icon-box {
  margin: auto;
  width: 4.8rem;
  transition: all 0.4s ease-in-out;
}

.down-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #666;
  transition: all 0.5s;
  cursor: pointer;

  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
}

@keyframes sdb05 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 5px);
    opacity: 0;
  }
}

.down-icon:hover {
  transform: scale(1.1);
  /* border: 1px solid wheat; */
  color: bisque;
}

.sticky-mail-icon {
  padding: 1rem;
  background-color: #666;
  height: 5rem;
  width: 5rem;
  margin-left: -5px;
  /* position: absolute; */
  /* top: 40%;
  left: -0.5rem; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.sticky-mail-icon:hover {
  background-color: #444;
  transform: scale(1.1);
}

.section-bio {
  padding: 5rem;
}

.bio-text-box {
  margin: auto;
  max-width: 100%;
  margin-bottom: 20rem;
}

.bio-text {
  font-size: 2rem;
  color: #666;
  text-align: center;
  line-height: 1.5;
  padding: 5rem;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.skills-bar {
  max-width: 100%;
  /* padding: 9rem; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 4rem;
}

.skill-bar {
  height: 1rem;
  background-color: #777;
  /* margin-bottom: 10px; */
}

.skill-bar:hover {
  /* transform: scale(1.1); */

  border: 1px solid #f5deb3;
  color: bisque;
  background-image: linear-gradient(to top, #000 0%, #000 100%);
  box-shadow: 0px 2px 10px 5px;
}

.html-bar {
  width: 80%;
}

.css-bar {
  width: 70%;
}

.js-bar {
  width: 20%;
}

.react-bar {
  width: 5%;
}

.angular-bar {
  width: 5%;
}

.skill-measure-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

span {
  color: #777;
  color: #f5deb3;
}

.skill-percentage {
  font-size: 1.2rem;
}

.skill-img-box {
  max-width: 100%;
}

.skill-img {
  /* height: 100%; */
  width: 100%;
  border: 1px solid wheat;
}

.portfolio-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding: 5rem;
}

.portfolio-cta-box {
  margin: auto;
  width: 35rem;
}

.portfolio-cta {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #666;
}

.portfolio-link:link {
  font-size: 6.4rem;
  text-decoration: none;
}

.portfolio-link-para {
  transition: all 0.5s;
  padding: 2rem;
  text-decoration: none;
  color: #666;
}

.portfolio-link-para:hover {
  transform: scale(1.1);

  border: 1px solid wheat;
  color: bisque;
  background-image: linear-gradient(to top, #000 0%, #000 100%);
  box-shadow: 0px 2px 10px 10px;
}

.testimonial-heading-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 20px;
}

.testimonial-heading {
  font-size: 3rem;
  color: #666;
  padding: 40px;
}

.testimonial {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.testimonial-img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 1px solid #f5deb3;
}

.testimonial-text {
  color: #666;
  font-size: 1.6rem;
  text-align: center;
}

.first-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.second-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 50%;
  margin: 0 auto;
}

.section-photography {
  margin-bottom: 35rem;
}

.photography-section-box {
  /* display: grid;
  grid-template-columns: 1fr; */
  /* grid-template-columns: 1fr 20rem 20rem 20rem 20rem 20rem 20rem; */
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.photography-section-img {
  height: 100%;
  max-width: 100%;
}

/* .img-2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.img-3 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.img-8 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.img-10 {
  grid-column: -7;
}

.img-4 {
  grid-column: -6;
}

.img-5 {
  grid-column: 4/6;
  grid-row: 1/3;
}

.img-7 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.img-11 {
  width: 20rem;
  grid-column: 4/5;
  grid-row: 2/3;
}

.img-12 {
  grid-column: 5/6;
  grid-row: 1/2;
} */

.photography-text-box {
  /* grid-row: 1/5; */
  /* margin-right: 4.8rem; */
  padding: 4rem;
  background-color: #333;
}

.photography-heading {
  font-size: 4.8rem;
  color: #666;
  /* text-align: center; */
  line-height: 1.5;
  /* align-self: center; */
}

.photography-text {
  text-align: unset;
  /* margin-bottom: 30px; */
}

.gallery-images-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 100%;
}

.no-padding {
  padding: 0;
}

.delve-in-box {
  display: grid;
  align-self: center;
  gap: 50px;
  /* grid-column: 5/8;
  grid-row: 2/5; */
  padding: 4rem;
}

.gallery-heading {
  font-size: 6.4rem;
  color: #666;
  /* margin-bottom: 8.4rem; */
}

.delve-link {
  justify-self: end;
  text-decoration: none;
}

.delve-in:hover {
  color: bisque;
  transform: scale(1.1);
}

.delve-in {
  font-size: 6.4rem;
  color: #666;
  transition: all 0.5s;
  border: 1px solid #f5deb3;
  padding: 20px;
}

.forward-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #f5deb3;
}

.hobbies-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

.hobbies-heading {
  font-size: 5.4rem;
  color: #666;
  grid-column: 2/3;
  justify-self: end;
  padding-right: 4rem;
}

.hobbies-text-box {
  padding: 3rem;
}

.hobbies-text {
  color: #666;
  font-size: 3.2rem;
  text-align: center;
}

.hobbies-img-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 4rem;
}

.hobbies-img {
  width: 100%;
  height: 100%;
}

.section-footer {
  padding: 8rem 6rem 4rem;
  margin-top: 14.8rem;
  border-top: 1px solid #333;
}

.footer-container {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666;
}

.footer-text {
  font-size: 1.4rem;
}

.footer-heading {
  font-size: 3.2rem;
  font-weight: 400;
}

.footer-links {
  font-size: 2rem;
  display: flex;
  gap: 5.4rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
}

.footer-links a {
  text-decoration: none;
  color: #666;
}

.footer-link {
  transition: all 0.5s;
}

.footer-link:hover {
  color: #f5deb3;
  transform: scale(1.1);
}

.contact-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #666;
  transition: all 0.5s;
}

.contact-link:hover {
  color: #f5deb3;
}

figure {
  color: #f5deb3;
}

@media (max-width: 78em) {
  .testimonials-box {
    padding: 50px;
  }
}

@media (max-width: 70em) {
  .nav-link {
    font-size: 1.6rem;
  }

  .photography-section-box {
    max-width: 80rem;
  }

  .hobbies-container {
    max-width: 80rem;
  }

  .gallery-images-box {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-testimonials {
    padding: 5rem;

    /* max-width: 800px; */
  }

  .first-grid {
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }

  .second-grid {
    max-width: unset;
    gap: 8rem;
  }

  .section-photography {
    margin-bottom: 10rem;
  }
}

@media (max-width: 54em) {
  .photography-section-box {
    max-width: 60rem;
  }

  .portfolio{
    max-width: 60rem;
  }

  .hobbies-container {
    max-width: 60rem;
  }

  .nav-links {
    gap: 5rem;
  }

  .section-portfolio {
    margin-bottom: 10rem;
  }

  .hero-heading:hover {
    transform: scale(1);
}
}

@media (max-width: 41em) {
  .hero-container {
    max-width: 60rem;
  }

  .hero-heading {
    font-size: 10rem;
  }

  .hero-text-box{
    max-width: 40rem;
  }
}

@media (max-width: 54em) {
  .nav-links {
    gap: 2rem;
  }

  .portfolio {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 41em) {
  .portfolio-box {
    justify-content: center;
  }

  .portfolio-link-para {
    font-size: 40px;
  }

  .testimonial-heading {
    text-align: center;
    font-size: ;
  }

  .first-grid {
    grid-template-columns: 1fr;
  }

  .second-grid {
    grid-template-columns: 1fr;
  }

  .gallery-images-box {
    grid-template-columns: 1fr 1fr;
  }

  .photography-section-box {
    max-width: 40rem;
  }

  .hobbies-container {
    max-width: 40rem;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 24em) {
  .testimonial-heading {
    font-size: 2rem;
  }

  .portfolio {
    grid-template-columns: 1fr;
  }

  .photography-section-box {
    display: unset;
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    margin: auto;
    max-width: 20rem;
    text-align: center;
    
  }

  .hero-heading {
    font-size: 2.4rem;
    padding: 3rem;
  }

  .section-hero {
    max-width: 20rem;
  }

  .bio-text-box {
    max-width: 30rem;
  }

  .hobbies-container {
    display: unset;
  }

  .hobbies-img-box {
    grid-template-columns: 1fr 1fr;
  }

  .header {
    padding: 30px;
  }
} */
